source https://api.nuget.org/v3/index.json

nuget CsvHelper 2.16.3.0 restriction: >= net461
nuget FAKE
nuget MassTransit.CastleWindsor 3.5.7
nuget MassTransit.NLog 3.5.7
nuget MassTransit.RabbitMQ 3.5.7 restriction: >= net452
nuget Microsoft.CrmSdk.XrmTooling.CoreAssembly 8.2.0.5 restriction: >= net452
nuget Microsoft.Diagnostics.Tracing.EventSource.Redist 1.1.28 restriction: >= net452
nuget Microsoft.Owin.Host.HttpListener
nuget Microsoft.Owin.Hosting
nuget Nancy.Bootstrappers.Windsor
nuget Nancy.Owin
nuget Newtonsoft.Json.Bson 1.0.1
nuget Topshelf.NLog 4.0.3 restriction: >= net452
nuget Wix.Toolset
nuget Xrm.Oss.Interfacing.Domain