<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="RabbitMq.Url" value="rabbitmq://localhost/Dev" />
		<add key="RabbitMq.Username" value="guest" />
		<add key="RabbitMq.Password" value="guest" />
		<add key="ImportDirectory" value="./Import" />
		<add key="ArchiveDirectory" value="./Archive" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
</configuration>
