<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="RabbitMq.Url" value="rabbitmq://localhost/Dev" />
		<add key="RabbitMq.Username" value="guest" />
		<add key="RabbitMq.Password" value="guest" />
	</appSettings>
	<connectionStrings>
		<add name="CRM" connectionString="AuthType=AD;Domain=*; Username=*; Password=*;Url=http://test/org" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>