<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="log" xsi:type="File"
                fileName="${basedir}/logs/log.${shortdate}.txt"
                archiveFileName="${basedir}/archives/log.{#}.txt"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="7"
                concurrentWrites="true"
                keepFileOpen="false"
        />
        <target name="errorLog" xsi:type="File"
                fileName="${basedir}/logs/error.${shortdate}.txt"
                archiveFileName="${basedir}/archives/log.{#}.txt"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="7"
                concurrentWrites="true"
                keepFileOpen="false"
        />
        <target name="console" xsi:type="ColoredConsole" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="log" />
        <logger name="*" minlevel="Error" writeTo="errorLog" />
        <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
</nlog>